{% extends 'site_forum/base/base.html' %}
{% load static forum_tags %}

{% block title %}RespondeJunto{% endblock %}

{% block css %}
{{block.super }}
    <link href="{% static 'css/simplemde.min.css' %}" rel="stylesheet">
    <link href="{% static 'site_forum/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block extrahead%} {{block.super}}
    <script>
        MathJax = {
            tex: { inlineMath: [['$(', ')$']]},
            svg: { fontCache: 'global'}
        };
    </script>

    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock%}

{% block content %}
<main>
    <div class="container-fluid my-4">
        <div class="row gx-3 gy-3">

            <!--LEFT COLLUMN-->
            <div class="col-md-3 px-0 px-sm-1">
                <section class="forum-container">
                    <button class="btn-collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForuns" aria-expanded="false" aria-controls="collapseForuns">
                        Foruns
                    </button>
                    <div class="collapse" id="collapseForuns">
                        <div class="list-group">
                        {% for forum in  foruns %}
                            {% if view.kwargs.slug == forum.slug %}
                            <a href="{{ forum.get_absolute_url}}" class="list-group-item fu-hover active">{{ forum }}</a>
                            {% else %}
                            <a href="{{ forum.get_absolute_url}}" class="list-group-item fu-hover">{{ forum }}</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </section>
            </div>

            <!--LEFT CENTER-->
            <div class="col-md-7 px-0 px-sm-1">
                <div class="add-post text-center p-2 fu-shadow">
                    <button class="fu-secondary-border" {% if user.is_authenticated %} data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" 
                        aria-controls="offcanvasBottom" {% else %} data-bs-toggle="modal" data-bs-target="#loginModal" {% endif %}>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/></svg>
                        Criar um novo tópico?
                    </button>
                </div>

                <section class="container-topico pb-4">
                    <div class="forum_info pt-3 pb-4">
                        <h6 class="titulo-forum px-3">Forum: {{forum_atual}}</h6>
                        <p class="px-3"><small>{{forum_atual.descricao}}</small></p>
                    </div>

                    <table class="list-topico table align-middle">
                        <thead>
                            <tr class="text-center text-muted d-none d-sm-table-row">
                                <th colspan="2">Topicos</th>
                                <th>Respostas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for topico in topicos %}
                            <tr>
                                <td width="30px" class="ps-sm-3">
                                    <div class="fu-user d-flex justify-content-center align-items-center">
                                        {{ topico.user.username|first|capfirst }} 
                                    </div>
                                </td>
                                <td class="ps-0">
                                    <a href="{{ topico.get_absolute_url }}" class="topico stretched-link">
                                        <div class="d-flex">
                                            <h5 class="topico-titulo">{{ topico }}
                                            {% if topico.categoria is not None %}
                                                <span class="badge bg-info">{{topico.categoria}}</span>
                                            {% endif %}
                                            </h5>
                                        </div>
                                        <div class="topico-footer d-flex flex-wrap">
                                            <span>Autor: {{ topico.user.username }}</span>
                                            <span class="ms-2 ms-sm-3">{{topico.updated_at|timesince}}</span>
                                        </div>
                                    </a>
                                </td>
                                <td width="10px" class="text-center">
                                    <span><b>{{topico.resposta_set.count}}</b></span>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation">{% if page_obj.paginator.count > 0 %}
                        <ul class="pagination pagination-sm justify-content-center mt-5">
                            {% if page_obj.has_previous %}
                            <li class="page-item"> <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a></li>{%else%}
                            <li class="page-item disabled"> <a class="page-link" href="">Anterior</a></li>{% endif %}
                
                            {% for p in page_obj|rangepage:5%}
                            <li class="page-item {%if p == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{p}}">{{p}}</a>
                            </li> 
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item"> <a class="page-link" href="?page={{page_obj.next_page_number}}">Próximo</a></li>{%else%}
                            <li class="page-item disabled"> <a class="page-link" href="">Próximo</a></li>{% endif %}
                        </ul>{% endif %}
                    </nav>
                </section>
            </div>

            <!--LEFT RIGHT-->
            <div class="col-md-2 d-none d-sm-block">
                <section></section>
            </div>
        </div>
    </div>

    {# --=============== MODAIS PARA USUÁRIOS AUTENTICADOS ==============--> #}
    {% if user.is_authenticated %}
    <div class="offcanvas offcanvas-bottom offcanvas-post" tabindex="-1" id="offcanvasBottom"  aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header border">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Criar um novo tópico?</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="form-topico" action="{% url 'forum:list_topico' forum_atual.slug %}" method="POST">
                {% csrf_token %}
                <div class="pb-2 d-flex flex-wrap">
                    <label for="input-titulo"> Titulo: </label>
                    <input class="flex-grow-1 ms-2 mb-2 mb-ms-0" id="input-titulo" name="titulo" required>
                </div>

                <div class="editor-container"> 
                    <textarea id="textareaPost" name="texto" required></textarea>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-sm btn-primary d-block ms-auto">Criar tópico</button>
                </div>
            </form>
        </div>
    </div> {% endif%}

    {#--=============== MODAIS PARA USUÁRIOS NÃO AUTENTICADOS ==============--#}

    {% if not user.is_authenticated %}
    {% include "site_forum/base/login_modal.html" %}
    {% endif %}
</main>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    
    <script>

        function initTextEditor() {
            const textarea = document.getElementById("textareaPost");
            
            if(textarea) {
                const simplemde = new SimpleMDE({ 
                    element: textarea,
                    spellChecker: false,
                    placeholder: "User tags html ou markdown",
                    hideIcons: ["image"],
                    status: false,
                    forceSync: true,
                    previewRender: function(plainText) {
                        let preview = document.getElementsByClassName("editor-preview-side")[0];
                        preview.innerHTML = this.parent.markdown(plainText);
                        preview.setAttribute('id','editor-preview')
                        MathJax.typeset([preview]);
                        return preview.innerHTML;
                    }
                });
            }
        }

        initTextEditor();

    </script>
{% endblock %}