{% extends 'site_forum/base/base.html' %}
{% load static %} {% load forum_tags%}

{% block title %}RespondeJunto{% endblock %}

{% block css %}
{{block.super }}
    <link href="{% static 'css/simplemde.min.css' %}" rel="stylesheet">
    <link href="{% static 'site_forum/css/topico.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid my-4">

        <section class="jumbotron container mb-4 rounded-3">
            <div class="container-fluid py-4 text-center">
                <h1 class="fs-4 fw-bold">{{ forum_atual }}</h1>
                <p class="fs-6">{{ forum_atual.descricao }}</p>
            </div>
        </section>
        
        <div class="row gx-3 gy-3">

            <!--LEFT COLLUMN-->
            <div class="col-md-3 px-0 px-sm-4">
                <section class="forum-container">
                    <button class="btn-collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForuns" aria-expanded="false" aria-controls="collapseForuns">
                        Foruns
                    </button>
                    <div class="collapse" id="collapseForuns">
                        <div class="list-group">
                        {% for forum in  foruns %}
                            {% if view.kwargs.slug == forum.slug %}
                            <a href="{{ forum.get_absolute_url}}" class="list-group-item active">{{ forum }}</a>
                            {% else %}
                            <a href="{{ forum.get_absolute_url}}" class="list-group-item">{{ forum }}</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </section>
            </div>

            <!--CENTER COLLUMN -->
            <div class="col-md-7 px-0">
                <div class="container bg pb-5 px-0">
                    <div id="post{{topico.pk}}" class="topico-container">
                        
                        <div class="topico-header px-2">
                            <h5 class="topico-title">Título: {{topico.titulo}}</h5>
                        </div>

                        <div class="topico-body px-2 mt-2">
                            <div class="d-flex mb-2">
                                <div class="fu-user d-flex justify-content-center align-items-center">
                                    {{ topico.user.username|first|capfirst }} 
                                </div>
                                <span class="ms-2 align-self-center"> {{topico.user.username }}</span>
                                <span class="ms-auto fu-data">{{topico.updated_at|timesince}}</span>
                            </div>
                            <div class='mt-1 markdown'>
                                <pre>{{topico.texto}}</pre>
                            </div>
                        </div>

                        <div class="topico-footer mt-2 px-2 pb-3 d-flex justify-content-end">
                            <div class="text-muted me-auto">
                                <span>Respostas: {{topico.resposta_set.count}}</span>
                            </div>
                            {% if user.pk == topico.user.pk %}
                            <button class="btn-icon-secondary border-end border-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPost" 
                                    data-form-action="EDITAR_TOPICO" onclick="activeForms(this)" aria-controls="offcanvasPost"
                                    data-fs-toggle="tooltip" data-bs-placement="top" title="Editar">
            
                                <svg viewBox="0 0 24 24" class="icon">
                                    <use xlink:href="{% static 'site_forum/icon/edit.svg'%}#shape"></use>
                                </svg>
                            </button> {% endif %}

                            {% if user.is_authenticated %}
                            <button class="btn-icon-secondary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPost" aria-controls="offcanvasPost" 
                                    data-form-action="RESPONDER" data-resposta-id="" onclick="activeForms(this)" 
                                    data-sf-toggle="tooltip" data-bs-placement="top" title="Responder">

                                <svg viewBox="0 0 24 24" class="icon">
                                    <use xlink:href="{% static 'site_forum/icon/reply.svg'%}#shape"></use>
                                </svg>
                            </button> 
                            {% else %}
                            <button class="btn-icon-secondary" data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-placement="top"
                                data-sf-toggle="tooltip" data-bs-placement="top" title="Responder"> 

                                <svg viewBox="0 0 24 24" class="icon">
                                    <use xlink:href="{% static 'site_forum/icon/reply.svg'%}#shape"></use>
                                </svg>
                            </button> {% endif %}
                        </div>
                    </div>

                    <div class="resposta-list">
                        {% for resposta in respostas %}
                        <div id="post{{resposta.pk}}" class="resposta-container">
                            
                            <div class="resposta-header px-2 d-flex">
                                <span class="ms-auto">
                                    <a class="text-decoration-none" href="#post{%firstof resposta.parent.pk resposta.topico.pk%}"
                                            onclick="targetOn(this)">
                                        <svg viewBox="0 0 24 24" class="icon icon-inverte">
                                            <use xlink:href="{% static 'site_forum/icon/reply.svg'%}#shape"></use>
                                        </svg>
                                        <span class="text-muted">
                                            {% firstof resposta.parent.user.username resposta.topico.user.username %}
                                        </span>
                                    </a>
                                </span>
                            </div>

                            <div class="resposta-body px-2 mt-1">
                                <div class="d-flex mb-2">
                                    <div class="fu-user d-flex justify-content-center align-items-center">
                                        {{ resposta.user.username|first|capfirst }} 
                                    </div>
                                    <span class="ms-2 align-self-center"> {{resposta.user.username }}</span>
                                    <span class="ms-auto fu-data">{{resposta.updated_at|timesince}}</span>
                                </div>
                                <div class="markdown">
                                    <pre>{{ resposta.texto }}</pre>
                                </div>
                            </div>

                            <div class="resposta-footer px-2 d-flex justify-content-end">
                                {% if user.pk == resposta.user.pk %}
                                <button class="btn-icon-secondary border-end border-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPost" 
                                    data-form-action="EDITAR_RESPOSTA" data-resposta-id="{{resposta.pk}}" onclick="activeForms(this)" aria-controls="offcanvasPost"
                                    data-sf-toggle="tooltip" data-bs-placement="top" title="Editar">
            
                                    <svg viewBox="0 0 24 24" class="icon">
                                        <use xlink:href="{% static 'site_forum/icon/edit.svg'%}#shape"></use>
                                    </svg>
                                </button> {% endif %}

                                {% if user.is_authenticated %}
                                <button class="btn-icon-secondary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPost" aria-controls="offcanvasPost" 
                                    data-form-action="RESPONDER" data-resposta-id="{{resposta.pk}}" onclick="activeForms(this)" 
                                    data-sf-toggle="tooltip" data-bs-placement="top" title="Responder"> 

                                    <svg viewBox="0 0 24 24" class="icon">
                                        <use xlink:href="{% static 'site_forum/icon/reply.svg'%}#shape"></use>
                                    </svg>
                                </button> 
                                {% else %}
                                <button class="btn-icon-secondary" data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-placement="top"
                                    data-sf-toggle="tooltip" data-bs-placement="top" title="Responder">  

                                    <svg viewBox="0 0 24 24" class="icon">
                                        <use xlink:href="{% static 'site_forum/icon/reply.svg'%}#shape"></use>
                                    </svg>
                                </button> {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <br><br>

                    <nav aria-label="Page navigation">{% if page_obj.paginator.count > 0 %}
                        <ul class="pagination justify-content-center mt-5">
                            {% if page_obj.has_previous %}
                            <li class="page-item"> <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a></li>{%else%}
                            <li class="page-item disabled"> <a class="page-link" href="">Anterior</a></li>{% endif %}
                
                            {% for p in page_obj|rangepage:5%}
                            <li class="page-item {%if p == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{p}}">{{p}}</a>
                            </li> 
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item"> <a class="page-link" href="?page={{page_obj.next_page_number}}">Próximo</a></li>{%else%}
                            <li class="page-item disabled"> <a class="page-link" href="">Próximo</a></li>{% endif %}
                        </ul>{% endif %}
                    </nav>
                </div>
            </div>

            <!--RIGHT COLLUMN-->
            <div class="col-md-2 d-none d-sm-block">
            </div>
        </div>
    </div>
    
    <!--MODAIS-->
    {% if user.is_authenticated %}
    <div class="offcanvas offcanvas-bottom offcanvas-post" tabindex="-1" id="offcanvasPost" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header border">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">POST</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <form id="respostaForm" action="{% url 'forum:resposta' view.kwargs.slug view.kwargs.topico_id %}" method="POST" class="form-topico">
                {% csrf_token %}
                <div class="pb-2">
                    <input id="inputTopico" type="hidden" name="topico" value="{{topico.pk}}">
                    <input id="inputResposta" type="hidden" name="parent" value="">

                    <div class="editor-container"> 
                        <textarea name="texto" required></textarea>
                    </div>

                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary d-block ms-auto">Salvar</button>
                    </div>
                </div>
            </form>

            <form id="topicoForm" action="{% url 'forum:topico' view.kwargs.slug view.kwargs.topico_id %}" method="POST" class="form-topico">
                {% csrf_token %}
                <div class="pb-2">
                    <input id="inputTopico" type="hidden" name="topico" value="{{topico.pk}}">
                    <input id="inputResposta" type="hidden" name="parent" value="">
                    
                    <div class="pb-2 d-flex flex-wrap">
                        <label for="input-titulo"> Titulo: </label>
                        <input class="flex-grow-1 ms-2 mb-2 mb-ms-0" id="inputTitulo" name="titulo" required>
                    </div>
                    
                    <div class="editor-container"> 
                        <textarea name="texto" required></textarea>
                    </div>

                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary d-block ms-auto">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div> {% endif %}

    {% if not user.is_authenticated%}
        {% include "site_forum/base/login_modal.html" %}
    {% endif %}
</main>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script type="module" src="{% static 'site_forum/js/editorController.js' %}"></script>

    <script>

        (function markdownToHTMLPosts() {
            document.querySelectorAll(".markdown").forEach(element => {
                const makdownText = element.querySelector("pre").innerText;
                console.log(element.innerHTML);
                element.innerHTML = SimpleMDE.prototype.markdown(makdownText);
            });

            hljs.highlightAll();
        })();

        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-sf-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        

        function targetOn(elem) {
            const target = document.getElementById(elem.href.split("#")[1]);
            
            target.classList.remove("target-on");
            target.offsetWidth = target.offsetWidth;
            target.classList.add("target-on");
        }
    </script>
{% endblock %}