{%load static %}
<header class="d-flex">
    <a href="/" class="logo">
        <object data="{% static 'site_forum/icon/logo.svg' %}" type="image/svg+xml">
            <img src="{% static 'site_forum/icon/logo.svg'%} " alt="logo">
        </object>
    </a>

    <div class="user-info">
        {% if user.is_authenticated %}
        <div class="btn-group">
            <button type="button" class="fu-user" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username|first|capfirst }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                    <a href="{% url 'forum:logout' %}" class="dropdown-item text-danger">
                        <img width="20px" height="20px" src="{% static 'site_forum/icon/logout.svg'%}"/>
                        Sair
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="d-flex align-content-center">
            <a href="{% url 'forum:login' %}?next={{request.path}}" class="btn-entrar">Entrar</a>
        </div>
        {% endif %}
    </div>
</header>