@import url('themes/light.css');

header {
    height: 3.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: var(--bg-header);
}

footer {
    padding: 1rem;
    background: var(--bg-footer);
}

.logo {
    display: inline-flex;
    position: relative;
    width: 12rem; 
    height: 100%;
}
    .logo::after {
        content: '';
        display: inline;
        position: absolute;
        top: 0px;
        width: 12rem;
        height: 100%;
    }

.logo > object, .logo  img{
    width:9rem;
    height: 100%;
}

.user-info { margin-left: auto;}

.btn-entrar {
    padding: 0.3rem 0.5rem;
    background: var(--color-secondary-dark);
    color: var(--c-primary-text);
    text-decoration: none;
    border-radius: 2px;
}
    .btn-entrar:hover {
        color: var(--c-secondary-text);
        background: var(--color-secondary);
        cursor: pointer;
    }

@media (min-width: 768px) {
    .logo > object, .logo  img{
        width:12rem;
        height: 100%;
    }
}
    