@import url('themes/light.css');

header {
    padding: 0.8rem 1rem 0.5rem 1rem;
    background: var(--bg-header);
}

footer {
    padding: 1rem;
    background: var(--bg-header);
}

.logo-text {
    color: var(--c-secondary-text);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
    .logo-text:hover {
        color: var(--c-secondary-text);
        font-size: 1.3em;
        cursor: pointer;
    }

.user-info {
    margin-left: auto;
}

.btn-entrar {
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    background: var(--bg-primary-button);
    color: var(--c-main-text);
    text-decoration: none;
    border-radius: 2px;
}
    .btn-entrar:hover {
        color: var(--c-secondary-text);
        filter:drop-shadow(2px 2px 15px var(--bg-primary-button));
        transform: scale(1.2);
        cursor: pointer;
    }