
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(252, 251, 251);
}

main {
    flex-grow: 1;
    width: 100%;
}

.rdj-shadow { box-shadow: rgba(32, 32, 32, 0.2) 0px 4px 12px;}

.img-user {
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1em;
    text-align: center;
    background: #1abc9c;
    border-radius: 50%;
}

.forum-container {
    background: white;
}
.forum-container .list-group{
    border-radius: 0px;
}
.forum-container .list-group-item:hover {
    color: white;
    background: #1abc9c;
}

.btn-collapsible {
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    background: #1abc9c;
    border: none;
}
    .btn-collapsible::after{
        content: '\002B';
        color: orangered;
        font-size: 1.2em;
        font-weight: bold;
        float: right;
        margin-left: 0.5rem;
    }

.add-post {
    width: 100%;
    padding: 1rem;
    background: white;
}
    .add-post .btn {
        width: 100%;
        border: 1px solid #1abc9c;
        border-radius: 30px;
    }
    .add-post .btn:hover {
        background: rgb(77, 194, 194);
        border: 1px solid #1abc9c;
    }
    .add-post .btn svg {
        color: orangered;
    }

.titulo-forum {
    padding: 0.5rem 0 1rem 1rem;
    margin-bottom: 1rem;
    color: gray;
    font-weight: bold;
    border-bottom: 1px solid #1abc9c;
}

.container-topico {
    min-height: 400px;
    margin-top: 1rem;
    background: white;
}

.topico {
    display: block;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #1abc9c;
}
    .topico:hover {
        color: black;
        background: rgb(206, 237, 241);
    }
    .topico .badge {
        padding: 0.2rem;
        font-size: 0.6rem;
    }

.topico-titulo {
    font-size: 1em;
}

.topico-footer {
    font-size: 0.8em;
}

.offcanvas-post {
    height: 95%;
}
    .offcanvas-post .offcanvas-title,
    .offcanvas-post .btn-close {
        font-size: 1rem;
    }

.form-topico select {
    width: 18rem;
}
.form-topico .btn {
    background: orangered;
}


.CodeMirror-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: 100vh;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #collapseForuns {
        display: block;
        height: auto !important;
    }

    .btn-collapsible::after {
        content: none;
    }

    .img-user {
        width: 2.5rem;
        height: 2.5rem;
        padding-top: 0.2rem;
        font-size: 1.4em;
        text-align: center;
        background: #1abc9c;
        border-radius: 50%;
    }

    .topico-titulo {
        font-size: 1.2em;
    }
    .topico .badge {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    
    .offcanvas-post {
        width: 80%;
        height: 95%;
        margin: auto;
    }
}