@import url('themes/light.css');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 100%;
}

.forum-container {
    background: var(--color-default);
}
.forum-container .list-group{
    border-radius: 0px;
}

.btn-collapsible {
    width: 100%;
    padding: 0.5rem;
    color: var(--c-secondary-text);
    font-weight: bold;
    background: var(--color-secondary);
    border: none;
}
    .btn-collapsible::after{
        content: '\002B';
        color: var(--bg-icon);
        font-size: 1.2em;
        font-weight: bold;
        float: right;
        margin-left: 0.5rem;
    }

.add-post {
    width: 100%;
    padding: 1rem;
    background: var(--color-default);
}
    .add-post .btn {
        width: 100%;
    }

    .add-post .btn svg {
        color: var(--bg-icon);
    }

.forum_info {
    padding: 0.5rem 0 1.2rem 1rem;
}
    .titulo-forum {
        color: var(--c-text-mutted);
        font-weight: bold;
    }

.container-topico {
    display: flex;
    min-height: 400px;
    margin-top: 1rem;
    flex-direction: column;
    background: var(--color-default);
}

.topico {
    display: block;
    padding: 0.5rem 0.6rem 1rem 0.6rem;
    color: var(--c-main-text);
    text-decoration: none;
}
    .topico:hover {
        color: var(--c-main-text);
        background: var(--bg-select-topico);
    }
    .topico .badge {
        padding: 0.2rem;
        font-size: 0.6rem;
    }

.topico-titulo {
    font-size: 0.8em;
    font-weight: bold;
}

.topico-footer {
    font-size: 0.8em;
}

.offcanvas-post {
    height: 95%;
}
    .offcanvas-post .offcanvas-title,
    .offcanvas-post .btn-close {
        font-size: 1rem;
    }

.form-topico select {
    width: 18rem;
}
.form-topico .btn {
    background: var(--bg-icon);
}


.CodeMirror-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: 100vh;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #collapseForuns {
        display: block;
        height: auto !important;
    }

    .btn-collapsible::after {
        content: none;
    }

    .topico-titulo {
        font-size: 1em;
    }
    .topico .badge {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    
    .offcanvas-post {
        width: 80%;
        height: 95%;
        margin: auto;
    }
}