@import url('themes/light.css');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 100%;
}

.forum-container {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(179, 177, 177);
}
.forum-container .list-group:last-child{ border-radius: 0px 0px 10px 10px;}

.forum-container .list-group a.active {
    border: none;
    color: var(--c-primary-text);
    background: var(--color-secondary);
}

.forum-container .list-group a:hover {
    color: var(--c-primary-text);
    background: var(--color-primary-light);
}

.btn-collapsible {
    width: 100%;
    padding: 0.5rem;
    color: var(--color-primary-light-60);
    font-weight: bold;
    background: var(--color-primary);
    border: none;
    border-radius: 10px 10px 0px 0px;
}
    .btn-collapsible::after{
        content: '\002B';
        color: var(--color-secondary-dark);
        font-size: 1.2em;
        font-weight: bold;
        float: right;
        margin-left: 0.5rem;
    }

.add-post {
    width: 100%;
    padding: 1rem;
    background: var(--color-default);
    
}
    .add-post button { 
        display: block;
        width: 100%;
        padding: 0.3rem;
        background: var(--color-default);
        border: 1px solid var(--color-secondary-dark);
        border-radius: 30px;
    }
    .add-post button:hover {
        background: var(--color-secondary-light);
    }
    .add-post button svg { color: var(--color-secondary-dark);}

.forum_info {
    background: var(--color-secondary-light);
    border-bottom: 1px solid rgb(172, 171, 171);
}
    .titulo-forum {
        color:var(--c-primary-text);
        font-weight: bold;
    }

.container-topico {
    display: flex;
    min-height: 400px;
    margin-top: 1rem;
    flex-direction: column;
    background: var(--bg-secondary);
    box-shadow: 0px 0px 5px 0px gray;
}

.list-topico > thead { background: var(--bg-main);}
.list-topico tr { position: relative;}
.list-topico > tbody > tr:hover { background: var(--color-primary-light-60);}

.topico, .topico:hover {
    display: block;
    padding: 0.5rem 0.6rem 1rem 0.6rem;
    color: var(--c-primary-text);
    text-decoration: none;
}

.topico-titulo {
    font-size: 0.8em;
    font-weight: bold;
}

.topico-footer {
    font-size: 0.8em;
}

.offcanvas-post {
    height: 95%;
}
    .offcanvas-post .offcanvas-title,
    .offcanvas-post .btn-close {
        font-size: 1rem;
    }

.form-topico select {
    width: 18rem;
}
.form-topico .btn {
    background: var(--color-secondary-dark);
}


.CodeMirror-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: 100vh;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #collapseForuns {
        display: block;
        height: auto !important;
    }

    .btn-collapsible::after {
        content: none;
    }

    .topico-titulo {
        font-size: 1em;
    }
    .topico .badge {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    
    .offcanvas-post {
        width: 80%;
        height: 95%;
        margin: auto;
    }
}