@import url('themes/light.css');

html {height: 100vh;}
body {
    display: flex;
    min-height: 100%;
    padding: 1rem 0rem 1rem 0rem;
    flex-direction: column;
    background: #b1d3eb;
}

main {
    margin-bottom: 2rem;
    margin: auto;
    background: none;
}

footer {
    background: none;
}

.svg-user {
    width: 8rem;
    color: var(--color-secondary);
}

.erro {
    color: var(--color-error);
    font-size: 0.8em;
}

.container-login {
    margin: 0rem 1rem 0rem 1rem;
    background: var(--color-default);
    padding: 1rem 0.5rem 1rem 0.5rem;
}

@media (min-width: 576px) {
    .container-login {
        max-width: 25rem;
        margin: auto;
        padding: 1rem 3rem 3rem 3rem;
    }
}

@media (min-width: 768px) {
    .svg-user {
        width: 9rem;
    }

    .container-login {
        max-width: 30rem;
        margin: auto;
        padding: 1rem 3rem 3rem 3rem;
    }
}
