body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-default);
}

main {
    flex-grow: 1;
    width: 100%;
    padding: 0px;
}

.bg { background: var(--color-default); }

.jumbotron { background: var(--bg-jumbotron-topico);}

.forum-container {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(179, 177, 177);
}
.forum-container .list-group:last-child{ border-radius: 0px 0px 10px 10px;}

.forum-container .list-group a.active {
    border: none;
    color: var(--c-primary-text);
    background: var(--color-secondary);
}

.forum-container .list-group a:hover {
    color: var(--c-primary-text);
    background: var(--color-primary-light);
}

.btn-collapsible {
    width: 100%;
    padding: 0.5rem;
    color: var(--color-primary-light-60);
    font-weight: bold;
    background: var(--color-primary);
    border: none;
    border-radius: 10px 10px 0px 0px;
}
    .btn-collapsible::after{
        content: '\002B';
        color: var(--color-secondary-dark);
        font-size: 1.2em;
        font-weight: bold;
        float: right;
        margin-left: 0.5rem;
    }

.container.bg {
    box-shadow: 0px 0px 5px 0px gray;
    background: var(--bg-secondary);
}
.topico-container {
    padding: 3rem 0rem 0rem 0rem;
    border-bottom: 1px solid gray;
}
.topico-title {
    font-size: 1em;
    font-weight: bold;
}

.topico-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.resposta-container {
    padding: 2rem 0rem 1rem 0rem;
    border-bottom: 1px solid gray;
}

.resposta-header svg {
    color: var(--color-primary-light);
}

.markdown {font-size: 0.9em;}

.markdown pre {
    max-height: 25rem;
    overflow: auto;
}

.offcanvas-post {
    height: 95%;
}
    .offcanvas-post .offcanvas-title,
    .offcanvas-post .btn-close {
        font-size: 1rem;
    }

.tooltip-inner { background: var(--color-primary-light-60);}

.tooltip.bs-tooltip-top .tooltip-arrow::before {border-top-color: var(--color-primary-light-60);}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {border-bottom-color: var(--color-primary-light-60);}
.tooltip.bs-tooltip-start .tooltip-arrow::before { border-left-color: var(--color-primary-light-60);}
.tooltip.bs-tooltip-end .tooltip-arrow::before { border-right-color: var(--color-primary-light-60);}

.target-on { animation: targetClick 2s linear;}
.topico-container:target:not(.target-on) {animation: targetOn 2s linear;}
.resposta-container:target:not(.target-on) {animation: targetOn 2s linear;}


@keyframes targetOn {
    from {background: var(--color-secondary-light);}
    to {background: var(--bg-secondary);}
}

@keyframes targetClick {
    from {background: var(--color-secondary-light);}
    to {background: var(--bg-secondary);}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #collapseForuns {
        display: block;
        height: auto !important;
    }

    .btn-collapsible::after {content: none;}
    
    .topico-container {padding: 3rem 1rem 0rem 1rem;}
    
    .resposta-container { padding: 2rem 1rem 1rem 1rem;}

    .markdown {font-size: 0.9em;}

    .offcanvas-post {
        width: 80%;
        height: 95%;
        margin: auto;
    }
}