@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/********** Variáveis ***************/
:root {
    --color-primary: #23483C;
    --color-primary-light: #448D76;
    --color-primary-light-60: #79BEA8;
    --color-primary-dark: #093426;

    --color-secondary: #6ec6ff;
    --color-secondary-light: #6ec6ff99;
    --color-secondary-dark: #0069c0;

    --c-primary-text: black;
    --c-secondary-text: white;
    --c-text-mutted: gray;
    --c-msg-error: red;

    --bg-main: #E7F3EF;
    --bg-secondary: white;
    --bg-secondary-dark: #d0d0d0;

    --bg-header: var(--color-primary);
    --bg-footer: var(--color-primary-light);
    --bg-user-icon: var(--color-secondary);
    --bg-jumbotron-topico: var(--color-primary-light-60);

    --f-lato: var('Lato', sans-serif);
}

/*********** Styles gerais **********/
main {
    background: var(--bg-main);
    color: var(--c-primary-text);
}

.markdown { font-family: 'Lato', sans-serif; }
.markdown h1 { font-size: 1.8em;}
.markdown h2 { font-size: 1.5em;}
.markdown h3 { font-size: 1.2em;}
.markdown h4 { font-size: 1em;}

/*********** utilitários ************/
.fu-shadow { box-shadow: rgba(32, 32, 32, 0.2) 0px 2px 4px;}

.fu-user {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2em;
    background: var(--bg-user-icon);
    border: 2px solid gray;
    border-radius: 50%;
}

.fu-data {
    font-size: 0.8em;
    color: gray;
}

.page-item.active > .page-link { 
    background: var(--color-secondary-dark) !important; 
    border: none;
}

.btn-icon-secondary {
    background: none;
    border: none;
    color: var(--color-secondary-dark);
}

.icon {
    width: 1rem;
    height: 1rem;
}

.icon-inverte {
    transform: scale(-1, 1);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .icon {
        width: 20px;
        height: 20px;
    }
}